.container-ab {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
  max-width: 800px;
  overflow-y: hidden;
  color: white;
}


.title-ab {
  font-size: 36px;
  margin-bottom: 20px;
}

.description-ab {
  font-size: 18px;
  margin-bottom: 40px;
}

.stats {
  display: flex;

}

.stat {
  font-size: 15px;
  background-color: hsla(0, 16%, 93%, 0.3);
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
}

.image-ab {
  width: 35vh;
  margin-top: 80px;
  margin-left: 20px;
  height: 400px;
  border-radius: 10px;
  animation: slideInFromLeft 5s ease-out forwards;
}

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}


@media (max-width: 768px) {
  .container-ab {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .right-section-ab {
    order: 1;
    flex-basis: auto;
    width: 100%;
  }

  .left-section-ab {
    order: 2;
    flex-basis: auto;
    width: 100%;
    margin-top: -30px;
    margin-right: -10px;
  }

  .image-ab {
    width: 50%;
    margin: 0 auto;
  }
}
