.mainscrn {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slider-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .slider-track {
    display: flex;
    animation: scroll 20s linear infinite;
  }
  
  .slide {
    min-width: 25%; /* Show 4 images at a time */
    transition: transform 0.5s ease;
  }

  
  .slide img {
    padding: 50px;
    width: 100%;
    border-radius: 10px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  