.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 20px 140px;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FAF9F6'/%3E%3Cstop offset='1' stop-color='%23000C2C'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23000C2C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000C2C' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.logo-img {
    height: 50px;
}

.hands-app {
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 20px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-item {
    position: relative;
    margin: 0 2px;
}

.nav-link {
    padding-bottom: 5px;
    transition: color 0.3s ease;
    text-align: center;
    color: black;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: black;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::after,
.nav-item:hover .nav-link::after {
    width: 100%;
    left: 0;
}

.dbtn {
    background-color: #000c2c;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    transition: background-color 0.3s ease, font-weight 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 15px;
}

.dbtn:hover {
    font-weight: bold;
    background-color: #000c2c;
    color: #000c2c;
    transform: scale(1.05);
    box-shadow: 5px 10px 15px #000c2c;
    background: #faf9f6;
}

.dropdown-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FAF9F6'/%3E%3Cstop offset='1' stop-color='%23000C2C'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23000C2C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000C2C' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    border: none;
    border-radius: 10;
}

.dropdown-item {
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    text-align: center;
    color: white;
    position: relative;
}

.dropdown-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: black;
    transition: width 0.3s ease, left 0.3s ease;
}

.dropdown-item:hover::after,
.dropdown-item:hover {
    width: 100%;
    left: 0;
    background-color: transparent;
}

@media (max-width: 768px) {
    .navbar {
        margin: 15px 10px;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-item {
        margin: 10px 0;
    }

    .d-flex {
        justify-content: center;
        padding-right: 15px;
    }

    .dropdown-toggle::after {
        margin-left: 5px;
    }
}
