.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    text-align: center; 
    padding: 20px; 
    height: 130vh;
    color: white;
}

.home-container h1 {
    margin-bottom: 20px; 
    font-size: 55px;
}

.home-container p {
    margin-bottom: 30px; 
    max-width: 800px; 
    font-size: 18px;
}

.button-container {
    display: flex;
    flex-direction: row; 
    gap: 15px;
}

.button-container .btn {
    margin-bottom: 15px; 
}


.imgcon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 90px;
    height: 350px;
    width: 550px;
}
.imgcon img{
    width: 600px;
    height: 500px;
}


.imgcon img {
    width: 600px;
    height: 500px;
    animation: bounceColor 5s infinite ease-in-out;
}

@keyframes bounceColor {
    0% {
        transform: translateY(0);
        filter: brightness(100%);
    }
    50% {
        transform: translateY(-30px);
        filter: brightness(120%);
    }
    100% {
        transform: translateY(0);
        filter: brightness(100%);
    }
}





@media (max-width: 768px) {
    .home-container {
        margin-top: 100px;
    }
    .home-container p {
        font-size: 15px;
    }
    .button-container {
        flex-direction: column;
    }
    .imgcon img{
        width: 500px;
        height: 450px;
        margin-left: 20px;
    }
  
}
