
.background-container {
  background: rgb(205,206,210);
background: linear-gradient(0deg, rgba(205,206,210,1) 34%, rgba(0,12,44,1) 100%);
  /* width: 100%;
  height: 100vh;  */
  font-family: "Cabin", sans-serif;
  overflow-x: hidden;
  
}


